<section class="team section-margin">
    <div class="container mb-70 p-relative">
        <h5 class="sub-heading mb-15 pb-15"><%= about.team.title %></h5>
        <h2 class="section-title text-uppercase"><%= about.team.subtitle %></h2>
    </div>

    <div class="container">
        <div class="d-grid grid-md-3 grid-sm-2">
            <% about.team.members.forEach(function(member) { %>
                <div class="team-item">
                    

                    <div class="content text-center p-30">
                        <h4 class="sm-title-block text-uppercase mb-10"><%= member.name %></h4>
                        <h5 class="sm-p body-color text-uppercase"><%= member.position %></h5>

                        <ul class="socials mt-10">
                            <% member.socials.forEach(function(social) { %>
                                <li>
                                    <a href="<%= social.link %>" target="_blank">
                                        <i class="<%= social.icon %>"></i>
                                        <span><%= social.text %></span>
                                    </a>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</section> 