<section class="testimonials-2 section-margin section-padding p-relative dsn-swiper v-dark"
    data-dsn-controller=".testimonial-content" data-dsn-option='{"autoHeight" : "auto"}'>
    <div class="bg-section p-absolute w-100 h-100 over-hidden top-0">
        <div class="before-z-index h-100" data-dsn-grid="move-up" data-overlay="8">
            <img class="p-absolute cover-bg-img has-top-bottom"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-dsn-src="assets/img/project/project5/1.jpg" alt="" data-dsn-move="20%">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="box-title p-relative sm-mb-title">
                    <h5 class="sub-heading mb-15 pb-15"><%= about.testimonials.title %></h5>
                    <h2 class="section-title mb-15 text-uppercase"><%= about.testimonials.subtitle %></h2>
                    <p><%= about.testimonials.description %></p>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="testimonials-inner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <% about.testimonials.items.forEach(function(item) { %>
                                <div class="swiper-slide testimonial-item">
                                    <p class="subtitle p-relative line-shap line-shap-after mb-15">
                                        <span class="pl-10 pr-10 background-section dsn-load-animate">
                                            <%= item.quality %>
                                        </span>
                                    </p>
                                    <p><%= item.text %></p>

                                    <div class="author-box d-flex align-items-center mt-20">
                                    
                                        <div class="author-text">
                                            <h4 class="sm-title-block mb-10"><%= item.author.name %></h4>
                                            <h5><%= item.author.position %></h5>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>

                        <%- include('./_testimonial-navigation') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 