<%- include('./partials/_header') %>

<div class="wrapper">
  <%- include('./partials/_about-section') %> <%- include('./partials/_awards')
  %> <%- include('./partials/_testimonials') %> <%- include('./partials/_team')
  %> <%- include('./partials/_brand') %> <%- include('./partials/_next-page') %>
</div>
