<footer class="footer background-section overflow-hidden">
  <div class="container">
    <div class="fill-right-container background-main">
      <div class="row">
        <div class="col-md-2 footer-block-item">
          <div class="footer-block block-logo">
            <a href="<%= footer.logo.link %>" class="logo-footer m-auto">
              <img
                src="<%= footer.logo.light %>"
                alt=""
                class="logo-dark cover-bg-img"
              />
              <img
                src="<%= footer.logo.dark %>"
                alt=""
                class="logo-light cover-bg-img"
              />
            </a>
          </div>
        </div>

        <div class="col-md-3 footer-block-item">
          <div class="footer-block">
            <p class="subtitle p-relative line-shap line-shap-after mb-20">
              <span
                class="pl-10 pr-10 background-section heading-color text-uppercase"
                ><%= footer.address.title %></span
              >
            </p>
            <p>
              <% footer.address.lines.forEach(function(line) { %> <%= line %><br />
              <% }); %>
            </p>
          </div>
        </div>

        <div class="col-md-3 footer-block-item">
          <div class="footer-block col-menu">
            <p class="subtitle p-relative line-shap line-shap-after mb-20">
              <span
                class="pl-10 pr-10 background-section heading-color text-uppercase"
                ><%= footer.navigation.title %></span
              >
            </p>

            <ul>
              <% footer.navigation.links.forEach(function(link) { %>
              <li><a href="<%= link.url %>"><%= link.text %></a></li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-credits border-top pt-30 mt-30">
        <div class="block">
          <p class="copyright">
            <%= footer.copyright.text %>
            <a href="<%= footer.copyright.link.url %>" target="_blank">
              <%= footer.copyright.link.text %>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
