<footer class="footer background-section overflow-hidden">
  <div class="container">
    <div class="fill-right-container background-main">
      <div class="row">
        <div class="col-md-2 footer-block-item">
          <div class="footer-block block-logo">
            <a href="<%= footer.logo.link %>" class="logo-footer m-auto">
              <img
                src="<%= footer.logo.light %>"
                alt=""
                class="logo-dark cover-bg-img"
              />
              <img
                src="<%= footer.logo.dark %>"
                alt=""
                class="logo-light cover-bg-img"
              />
            </a>
          </div>
        </div>

        <div class="col-md-7">
          <div class="row">
            <% footer.address.forEach(function(office) { %>
            <div class="col-md-6">
              <div class="footer-block">
                <p class="subtitle p-relative line-shap line-shap-after mb-15">
                  <span
                    class="pl-10 pr-10 background-section heading-color text-uppercase"
                    ><%= office.title %></span
                  >
                </p>
                <div class="address-info">
                  <p>
                    <% office.lines.forEach(function(line) { %> <%= line %><br />
                    <% }); %>
                  </p>
                  <p class="mt-5">
                    <strong>Telefon:</strong><br />
                    <% office.phone.forEach(function(phone) { %> <%= phone %><br />
                    <% }); %>
                  </p>
                  <p class="mt-5">
                    <strong>E-posta:</strong><br />
                    <%= office.email %>
                  </p>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
        </div>

        <div class="col-md-3 footer-block-item">
          <% footer.navigation.forEach(function(nav) { %>
          <div class="footer-block col-menu mb-30">
            <p class="subtitle p-relative line-shap line-shap-after mb-20">
              <span
                class="pl-10 pr-10 background-section heading-color text-uppercase"
                ><%= nav.title %></span
              >
            </p>

            <ul>
              <% nav.links.forEach(function(link) { %>
              <li><a href="<%= link.url %>"><%= link.text %></a></li>
              <% }); %>
            </ul>
          </div>
          <% }); %>
        </div>
      </div>

      <div class="footer-credits border-top pt-30 mt-30">
        <div class="block">
          <p class="copyright"><%= footer.copyright.link.text %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
