<div class="wrapper">
  <%- include('./partials/_about') %> <%-
  include('./partials/_projects') %> <%-
  include('./partials/_awards') %> <%-
  include('./partials/_testimonials') %> <%-
  include('./partials/_skills') %> <%-
  include('./partials/_contact') %>
</div>
